body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}
.header-wrapper {
    background-color: black;
    color: #fff;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
}
.left-column {
    display: flex;
    align-items: center;
}
.header-styles {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1em;
}
.center-column {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 42px;
    width: 500px;
}
.logo {
    display: flex;
    justify-content: center;
}
.logo img {
    width: 300px;
}
.link-wrapper {
    display: flex;
    justify-content: space-between;
}
.nav-link {
    width: 70px;
    text-align: center;
}
.link-wrapper a {
    font-family: "Ubuntu Condensed", sans-serif;
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
}
.link-wrapper a:hover {
    color: #bcca99;
    letter-spacing: 2px;
    font-weight: bolder;
}
.right-column {
    display: flex;
    align-items: center;
}
.icon {
    font-size: 2em;
}
.icon-mr {
    margin-right: 15px;
}
.icon-ml {
    margin-left: 15px;
}
.features-section{
    border-top: 15px solid yellow;
}
.content{
    background-color: black;
    color: white;
    text-align: center;
    margin:auto;   
    max-width: 100%; 
    padding: 10px 100px 10px 100px; 
}
.pictures{
    height: auto;
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding-top: 100px ;
    padding-bottom: 100px;
}
.about-us{
    width: 500px;
    text-align: justify;
}

.about-us2{
    width: 500px;
    text-align: justify;
}

.about-flex{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.footer-flex{
    padding-top: 100px ;
    display:flex;
    justify-content: center;
    background-color:black;
    padding-bottom: 100px;
 
   
}

.icon-color {
    color:white;
    display:flex;
    justify-content: center;
}






   
    

}
